<app-navbar></app-navbar>
<div class="container-fluid " style="margin-top: 50px;">
    <div class="row justify-content-center">

        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-info">
                    <b>{{quiz.code}} - {{quiz.name}}</b>
                </div>
                <div class="card-body">
                    <div *ngFor="let que of quiz.questions">
                        <app-quiz-questions [question]="que"></app-quiz-questions>
                    </div>
                </div>
                <div class="card-footer bg-info">
                    <input type="button" value="Submit" class="btn btn-success" (click)="submitQuiz()" />
                </div>
            </div>

        </div>

    </div>
</div>